<ng-container *ngIf="{ item: selectedItem$ | async } as obs">
    <div *ngIf="ready$ | async" [@homePageState]="homePageState(obs.item)" class="root">
        <!-- Detail view -->
        <div *ngIf="obs.item" class="detail-container" (click)="goHome()">
            <img class="detail-container--image" [src]="obs.item.detailSrc" />
        </div>

        <!-- 3x3 grid view -->
        <div *ngIf="!obs.item" class="item-group">
            <ng-container *ngFor="let item of gridItems">
                <div class="item {{item.class}}" (click)="item.select()">
                    <div class="item--inner">
                        <div class="item--front">
                            <img [src]="item.imageSrc" />
                        </div>
                        <div *ngIf="cardBacksideSrc$ | async as src" class="item--back">
                            <img [src]="src" />
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>